[% DEFAULT 
   root_package = 'Qt'
%]

################################################################
#### DEFAULT VARS
#### 
#### $root_package : root namespace
####
################################################################
