[% my_module  = root_package _ my_module %]
[% my_package = root_package _ '::' _ my_package %]

MODULE = [% my_module %]			PACKAGE = [% my_package %]

PROTOTYPES: ENABLE

################################################################
#### HEADER VARS
#### 
#### $my_module   : perl module name
#### $my_package  : perl package namespace
####
################################################################
